*.iml
.idea/
*.iws
.DS_Store
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build/
.cxx/
.externalNativeBuild/
captures/
.gradle/
!gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar
!gradle/libs.versions.toml
gradle/*
!gradle/wrapper/
!gradle/libs.versions.toml
!gradlew
!gradlew.bat
*.log